.footernav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 8vh;
    background-color: #000000;
    color: black;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px rgb(150, 150, 150);
    padding: 2vh;
}

.footernav > a > img {
    width: 10vh;
    height: 10vh;
}

.footer-links {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-links > li{
    text-decoration: none;
    list-style: none;
    color: rgb(198, 198, 198);
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: bold; 
    font-size: 4vh;   
}

@media screen and (max-width: 600px){

    .footer-links > li {
        font-size: 2vh;
    }

    .footernav > a > img {
        width: 7.5vh;
        height: 7.5vh;
    }
}