@import url(//db.onlinewebfonts.com/c/e37ba0ad1ac022fc0a8165b92c73785b?family=Personal+Services);
@font-face {font-family: "Personal Services"; src: url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.eot"); src: url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.woff") format("woff"), url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e37ba0ad1ac022fc0a8165b92c73785b.svg#Personal Services") format("svg"); }

.container {
    height: 140vh;
    width: 100vw;
}

.intro-banner {
    height: 62.85%;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(./images/cones-v2.png);
    background-size: 100vw 88vh;
    background-repeat: no-repeat;
}

.intro-text {
    height: 90%;
    padding-left: 5vw;
}

.intro-text > h1 {
    font-family: Kristi;
    font-size: 10vh;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    color: #e00505de;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.intro-text > span {
    font-family: 'Personal Services', sans-serif;
    font-size: 18vh;
    color: white;
}

.find-us {
    width: 100%;
    font-family: 'Open Sans' ,sans-serif;
    color: white;
}

.find-us > p {
    padding-bottom: 2.5vh;
}

.btn {
    font-family: 'Open Sans' ,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 18px;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 25px;
}

.btn > a {
    text-decoration: none;
    color: black;
}

.menu-btn-wrapper {
    width: 100%;
    text-align: center;
}

.menu-btn {
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 7.5vh;
    text-align: center;
}

.menu-btn:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.menu {
    height: 100%;
    width: 100%;
    background-image: url(https://images.getbento.com/accounts/5a58a286d18827b66bbb9b7fb917492a/media/images/89610chalkboard.jpg);
}

.gallery-container {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 35% 65%;
}

.gallery-text {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-text {
    padding-left: 10vw;
}

.sample-text > h1 {
    font-family: 'Personal Services', sans-serif;
    font-size: 5vh;
    padding-bottom: 5vh;
}

.sample-text > h3, p {
    padding-bottom: 2.5vh;
    font-family: 'Montserrat';
}

br {
    padding-top: 5vh;
}

.slideshow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    color: white;
    transform: rotate(8deg);
}

.slideshow > i {
    padding: 1vw;
}

.slideshow > i:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.picture {
    max-width: 40vw;
    max-height: 70vh;
    width: 100%;
    height: 100%;
    border-color: white;
    border: 5vh solid;
}

.tape {
    position: absolute;
    bottom: 87.5vh;
    width: 10vw;
    height: 10vh;
    transform: rotate(-10deg);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@media screen and (max-width: 600px){
    .intro-text > span {
        font-size: 10vh;
    }

    .intro-text > h1 {
        font-size: 10vh;
    }

    .intro-banner {
        background-image: url(./images/mobile-cones.png);
        background-size: 100vw 88vh;
        height: 62.85%;
    }

    .gallery-container {
        grid-template-rows: 60% 40%;
        grid-template-columns: none;
    }

    .sample-text {
        padding-left: 0;
        text-align: center;
    }

    .sample-text > h1{
        padding-top: 10vh;
        padding-bottom: 5vh;
        font-size: 3vh;
    }

    .menu-btn {
        display: none;
    }

    .slideshow > img {
        max-width: 60vw;
        max-height: 50vh;
        width: 100%;
        height: 100%;
    }

    .slideshow > i {
        font-size: 5vh;
        padding: 2vh;
    }

    .tape {
        display:none;
    }
}